<h1>Quiz Leaderboard</h1>


<table>
  <thead>
    <tr>
      <th>Player ID</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let participant of participants | keyvalue">
      <td>{{ participant.key }}</td>
      <td>{{ participant.value }}</td>
    </tr>
  </tbody>
</table>


<!-- <table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
     <tr *ngFor="let player of leaderboardData">
      <td>{{ player.rank }}</td>
      <td>{{ player.name }}</td>
      <td>{{ player.score }}</td>
    </tr> -->
  <!-- </tbody>
</table> -->
