<div class="d-grid gap-2 col-4 mx-auto">
  <div class="row mt-5 text-center">
    <div class="col-xs-12">
      <img src="../assets/simultanQLogo.png" alt="The colourful logo of the SimultanQ App" width="60%" height="auto">

    </div>
    <div class="col-xs-12">
      <h4 style="color: rgb(25, 139, 59);"> Quiz pin: {{ receivedPin }}</h4>
      <h4 style="color: rgb(25, 139, 59);"> <button class="btn btn-danger mr-2 mt-2" (click)="startQuiz()">Start quiz</button></h4>
    </div>
<div *ngIf="!participantsJoined">
No participants yet
</div>
<div *ngIf="participantsJoined">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Player ID</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let participant of participants | keyvalue">
      <td>{{ participant.key }}</td>
      <td>{{ participant.value }}</td>
    </tr>
  </tbody>
</table>
<h4 style="color: rgb(25, 139, 59);"> <button class="btn btn-info mr-2 mt-2" (click)="endQuiz()"> End quiz</button></h4>
</div>
<!-- <table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
     <tr *ngFor="let player of leaderboardData">
      <td>{{ player.rank }}</td>
      <td>{{ player.name }}</td>
      <td>{{ player.score }}</td>
    </tr> -->
  <!-- </tbody>
</table> -->
