<!doctype html>
<html lang="en">
<head>
</head>
<body>
 
    <div class="d-grid gap-2 col-4 mx-auto">
        <div class="row mt-5 text-center">
          <div class="col-xs-12">
            <img src="../assets/simultanQLogo.png" alt="The colourful logo of the SimultanQ App" width="60%" height="auto" >
          </div>
    
        </div>
    
        <div class="row mt-5 text-center">
          <div class="col-xs-12">
            <h5 style="color: rgb(25, 139, 59);">
              Welcome to  the simultanQ Quiz Application!
            </h5>
          </div>
          </div>
        
        <div class="row mt-5 text-center">
      
            <div class="col-xs-12">
              <div  class="text-center">
                <button type="button" class="btn btn-danger btn-lg mr-2 mt-2" (click)="createQuiz()">HOST A QUIZ</button>
                <button type="button" class="btn btn-success btn-lg mr-2 mt-2 " (click)="playQuiz()">PLAY</button>
              </div>
            
            </div>
        </div>
      </div>

</body>

</html>


